.products{
    list-style:none;
    margin-right:300px;
    padding:0px;
    height:100%;
}
.products li{
    display:inline-block;
    float:left;
    margin:10px;
}
.item{
    display:block;
    text-decoration:none;
    text-align: center;
    width:30%;
}
.item img{
    border:1px solid #333;
}
.item p{
    margin:0;
    font-weight:bold;
    text-align:center;
    color:#c3c3c3;
    width: 200px;

}
.cart{
    position:fixed;
    margin-top:50px;
    right:0;
    top:0;
    width:300px;
    height:100%;
    background:#ccc;
    padding:0px 10px;
}
h1{
    text-align:center;
    color:#555;
}
h2{
    position:absolute;
    font-size:16px;
    left:10px;
    bottom:20px;
    color:#555;
}
.total{
    padding-top: 10px;

}

.image_produit{
    width: 200px;
    height: 150px;
}

#menu{
    width:3000px ;
 }
 .categorieDeProd{
   display:block;
   width:100%;

 }
